<div class="wrapper">
    <div class = "container">
        <mat-card >
          <h2 style = "text-align: center;"><P>PROCESS</P></h2>
            <hr>
            <mat-card-content id = "card">
   
                <div class = "row">
                    <div class="col">
                       <p>MEASURE</p>
                    </div>
                    <div class="col">
                        <p>WEIGHT 1 ST</p>
                    </div>
                    <div class="col">
                       <p>WEIGHT 2 ND</p>
                    </div>
                     <div class="col">
                        <p>LOST</p>
                    </div>
                </div>
                <hr>
                <br>
                <div class = "row">
                    <div class="col" id="measure">
                        {{measure}}
                    </div>
                    <div class="col" id="w1">
                        {{weight1}}
                    </div>
                    <div class="col" id = "w2">
                        {{weight2}}</div>
                     <div class="col" id="lost">
                        {{lost}}</div>
                </div>
                <hr>
                <br>
                <div class = "row">
                    <div class="col">
                       <P>MEASURE</P> 
                    </div>
                    <div class="col">
                        <P>FINE</P>
                    </div>
                    <div class="col">
                        <P>PDI</P>
                    </div>
                     <div class="col">
                        <P>MOISTURE</P></div>
                </div>
                <hr>
                <br>
                <div class = "row">
                    <div class="col" id="measure">
                        {{measure}}
                    </div>
                    <div class="col">
                        0.00
                    </div>
                    <div class="col">
                        0.00</div>
                     <div class="col">
                        0.00</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
